body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Times New Roman", Times, serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1{
  position:relative;
  opacity:0.65;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg2, .pimg3, .pimg5{
  position:relative;
  opacity:0.65;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg4{
  position:relative;
  opacity:0.65;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}





.pimg1, .pimg4{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:450px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:450px;
}

.pimg5{
  background-image:url('../img/image5.jpg');
  min-height:500px;
}

.image6{
  width:600px;
}

.section{
  text-align:center;
  padding:30px 170px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.section-darkblue{
  background-color:#0d1a27;
  color:#ddd;
}

.section-lightblue{
  background-color:#4981ba;
  color:#666;
}

.section-lightgrey{
  background-color:#d0d0d0;
  color:#666;
}

.ptext{
  position:absolute;
  top:60%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.atext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ztext{
  position:absolute;
  top:10%;
  width:100%;
  text-align:center;
  color:#FFF;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.atext .border.trans{
  background-color:transparent;
}

.ztext .border.trans{
  background-color:transparent;
}


/*.flexbox-container {
  display:flex;
  flex-wrap:wrap;/*might be useful for @media*/
  /*justify-content:space-around;
  align-items:center;
  align-content:center;

}

.flexbox-item {
  height: 300px;
  width:200px;
  margin:10px;
  border:3px solid #333;
  background-color: #dfdfdf;
}*/

.row {
  display: flex;
}

.column{
  flex:50%;
}

@media(max-width:568px){
  /*body,html{
    font-family:"Lato", sans-serif;
  }*/
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    background-attachment:scroll;
  }
  
  /*.ptext{
    font-family:"Times New Roman", Times, serif;
  }*/

  .section{
    padding:30px 10px;
  }

  .ptext{
    font-size:20px;
    letter-spacing:2px;
    top:58%;
  }

  .ztext{
    top:0.5%;
    font-size:16px;
    letter-spacing:2px;
    color:#FFF;
  }
  .image6{
    width:300px;
  }
  /*.pimg4{
   
  }*/

  .column{
    width:100%;
  }

}
